.left, .right {
  /*padding: 5%;*/
  width: 45%;
  text-align: center;
  border-radius: 20px;
  border: 2px #f3f3f3 solid;
  cursor: pointer;
  background: #f3f3f3;
}
.left:hover {
  background: #fff;
}
.right:hover {
  background: #fff;
}
.left {
  float: left;
}
.right {
  float: right;
}
.home-container {
  padding: 5%;
}
